<form>
  <label>TODO : </label>
  <input type="text"
         name="inputTodo"
         placeholder="Enter your todo"
         class="todo-input"
         [(ngModel)]="inputTodo"
  />
  <button class="add-todo" (click)="addTodo()">Add</button>
</form>
<div class="todos" *ngFor="let item of todosArray; let i=index;" class="todo {{item.completed ? 'done' : ''}}">
  <ng-container class="todo-items">
    <div class="id">{{i+1}}</div>
    <div class="content">{{item.content}}</div>
    <input type="checkbox" class="checkbox" name="checkbox" (click)="toggleDone(i)">
    <button class="remove" (click)="deleteTodo(i)">Remove Item</button>
  </ng-container>
</div>
